<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The people connected to us have a huge impact on our mentality, behavior, success and ultimately happiness. Even with this knowledge, most people do not exercise their networks to their fullest potential. This can be seen in social networks where people have hundreds of friends they no longer remember let alone contact.
</p>
<p>
We became obsessed on how networks influence individuals and how can you take control and train your networks to maximize your true potential. As two aerospace engineering students from the University of Michigan, we are constantly humbled by amazingly brilliant colleagues, who given the right connections and networking skills, could make a huge impact.
</p>
<p>
There are software solutions that exist for large and small companies called Customer Relationship Management aka CRM. These solutions are not personal enough, not fine-tuned to be used by a single individual.
</p>
<p>
But how will you (as an individual) build, maintain, and ultimately utilize your connections to the fullest? 
Edacio is laser focused on delivering the best training to beginning networkers and addicting tools for master networkers. 
</p>
<p>
Calvin and Zahid <%= image_tag("link.png", alt: "Edacio")%><br/>
</p>
