<% provide(:title, 'About Us') %>
<div class="hero-unit">
<h2>About Us</h2>
<p style = "text-indent:1em;">The people connected to us have a huge impact on our mentality, success, and ultimately happiness. However, social networks have become unmanageable where it is easy to have hundreds of friends and colleagues that we no longer remember, let alone contact. 
</p>
<br/>
<p style = "text-indent:1em;">We built Edacio out of frustration from learning how to network from scratch, keeping in touch with all our contacts, and to prevent us from neglecting our friends when we work too much.
</p>
<br/>
<p style = "text-indent:1em;">As two aerospace engineering students from the University of Michigan, we are constantly humbled by our amazingly brilliant colleagues, who given the right connections, could make a huge impact on the world. 
</p>
<br/>
<p style = "text-indent:1em;">Edacio is laser-focused on delivering the best interactive tutorials to teach networking and addicting tools for the average person (and master networkers) to enjoy!
</p>
<p>
Calvin and Zahid <%= image_tag("link.png", alt: "Edacio")%><br/>
</p>
</div>






