<% provide(:title, 'Help') %>
<div class="center hero-unit">
<h2>Feedback</h2>
<p>
  We are working every day on improving the site. If you are confused, need help, or have constructive feedback, feel free to email us!
</p>
  <br/>
  <a href="mailto:nofxincubus@gmail.com?Subject=Edacio%20Question" target="_blank"><h1>Calvin</h1></a>
  <br/>
  <a href="mailto:hasanzuav@gmail.com?Subject=Edacio%20Question" target="_blank"><h1>Zahid</h1></a>
</div>
