<% provide(:title, 'Help') %>
<div class="center hero-unit">
<h1>Help</h1>
<p>
  We are working every day on improving the site. If you are confused, need help, or have constructive feedback, feel free to email us at hasanzuav@gmail.com or nofxincubus@gmail.com!
</p>
</div>
