<%= provide(:title, 'Sign in With Linkedin') %>
<h2>First time</h2>
<div class="center hero-unit">
	<div class="row">
		<h3> Sign in with Linked In </h3>
		
		<%= link_to image_tag("linksignin.png", :border=>0), auth_path %>
	</div>
</div>
</div>

