<%= provide(:title, 'Sign in With Linkedin') %>
<h1>First time</h1>
<div class="center hero-unit">
	<div class="row">
		<h3> Sign in with Linked In </h3>
		<%= link_to "Sign in with LinkedIn", auth_path %>
	</div>
</div>
</div>

