<% provide(:title, 'LinkedIn Loading') %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @profile.firstName  %>
        <%= @profile.firstName  %>
      </h1>
    </section>
  </aside>
</div>
